<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='createForm.html'"
                    th:onclick="|location.href='@{/basic/posts/create}'|"
                    type="button">글쓰기</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>글쓴이</th>
                <th>제목</th>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts.postList}">
                <td><a href="post.html" th:href="@{/basic/posts/{postId}(postId=${post.id})}" th:text="${post.id}">글 번호</a></td>
                <td><a href="post.html" th:href="@{|/basic/posts/${post.id}|}" th:text="${post.author}">작가</a></td>
                <td th:text="${post.title}">게시글 제목</td>
                <td th:text="${post.content}">게시글 내용</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
